/* Navbar */
.navbar {
  width: 100%;
  height: 10vh;
  background-color: var(--background-color-nav);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxl);
}

.navbar__button {
  border: none;
  background: none;
  color: var(--font-color-main);
  font-size: var(--font-size-large);
  cursor: pointer;
}
.navbar__button:hover {
  text-decoration: underline;
}
.feedback__paragraph {
  background-color: var(--background-color-buttons);
  color: var(--font-color-main);
  text-align: center;
}
/* Main */
.main {
  width: 100%;
  min-height: 90vh;
  background-image: url(../assets/images/SWAPI_main_BG.webp);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxl);
  padding: 5rem;
}

.intro__paragraph {
  color: var(--font-color-main);
  font-size: var(--font-size-large);
  grid-column: 5 / span 5;
  grid-row: 4;
}

.card {
  min-height: 650px;
  height: fit-content;
  width: 35%;
  background-color: none;
  border: 2px solid #ffffff92;
  color: var(--font-color-tertiary);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacing-medium);
  text-align: center;
}

.card h1 {
  color: var(--font-color-main);
}

/* Films */

.card__image {
  height: 50%;
  width: 55%;
}

.card__crawl-button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  background-color: var(--background-color-buttons);
  color: var(--font-color-tertiary);
}

.card__crawl-button:hover {
  opacity: 0.8;
}

.card__crawl-container {
  width: 100%;
  height: 170px;
  padding: 0 var(--spacing-small);

  transition: height 0.4s ease-out;
  overflow: hidden;
}

.collapse {
  height: 0px;
}

/* People */
.card--people {
  background-color: var(--background-color-cards);
  padding: var(--spacing-medium) 0;
  height: 650px;
}
.card--people img {
  width: 50%;
}

.people__info {
  font-size: var(--font-size-large);
  font-weight: bold;
}

/* Planets */
.card__planet-image {
  width: 75%;
  height: 75%;
}

.card__planet-info {
  width: 100%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

.card__planet-info p {
  font-size: var(--font-size-large);
}

/* Vehicles */

.card__vehicle-image {
  width: 75%;
  height: 75%;
}

.card__vehicle-info {
  width: 100%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

/* Responsiveness */
@media screen and (max-width: 800px) {
  .main {
    padding: var(--spacing-xl);
  }
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    gap: var(--spacing-medium);
  }
  .main {
    padding: var(--spacing-medium);
  }
  .card {
    width: 100%;
  }
}
