/* Navbar */
.navbar {
  width: 100%;
  height: 10vh;
  background-color: var(--background-color-nav);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxl);
}

.navbar__button {
  border: none;
  background: none;
  color: var(--font-color-main);
  font-size: var(--font-size-large);
  cursor: pointer;
}
.navbar__button:hover {
  text-decoration: underline;
}

/* Main */
.main {
  width: 100%;
  min-height: 90vh;
  background-image: url(../assets/images/SWAPI_main_BG.webp);

  /* display: grid;
  grid-template-columns: repeat(11, minmax(50px, 1fr));
  grid-template-rows: auto;
  gap: 5rem; */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxl);
  padding: 5rem;
}

.intro__paragraph {
  color: var(--font-color-main);
  font-size: var(--font-size-large);
  grid-column: 5 / span 5;
  grid-row: 4;
}

/* Films */

.card {
  height: 600px;
  width: 35%;
  background-color: none;
  border: 2px solid white;
  color: var(--font-color-tertiary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
  text-align: center;
}

.card__image {
  height: 60%;
  width: 70%;
}

.card__crawl-button,
.card__characters-button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  background-color: var(--background-color-cards);
  color: var(--font-color-tertiary);
}
.card__crawl-button:hover,
.card__characters-button:hover {
  opacity: 0.8;
}
