:root {
  /* Color */
  --background-color-nav: #2e557c;
  --background-color-nav2: #43a5cf;
  --background-color-cards: #334e3089;
  --background-color-buttons: #334e30;

  --font-color-main: #ffe81f;
  --font-color-secondary: #ad7d37;
  --font-color-tertiary: #ffffff;

  /* Spacing */
  --spacing-small: 0.7rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.8rem;
  --spacing-xl: 2.4rem;
  --spacing-xxl: 4rem;

  /* Font size */
  --font-size-small: 10pt;
  --font-size-medium: 12pt;
  --font-size-large: 14pt;

  /* Box-styling */
  --box-shadow: 10px 10px 10px black;
  --border-radius: 10px;
}
